{% extends 'base.html' %}

{% block content %}
{{block.super}}
<!-- {{img.img_name}}
<img src="{{img.image.url}}" alt=""> -->
<div class="container text-center mb-5">
  <h2 class="card-title">Filter by Location</h2>
  {% for location in locations %}
  <!-- <a href="{% url 'location' location.id}"><button class="btn btn-warning">{{location.loc_name}}</button></a> -->
  <a href="location/{{location.id}}"><button class="btn btn-warning">{{location.loc_name}}</button></a>
  {% endfor %}
</div>

<div class="container d-flex flex-wrap">
  {% for img in images %}
  <div class="col-4">
    <div class="card">
      <img src="{{img.image.url}}" class="img-fluid" alt="{{img.img_name}}">
      <div class="card-body">
        <h5 class="card-title">{{img.img_name}}</h5>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
          data-bs-target="#exampleModal{{img.id}}">View
          Details</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{img.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{img.img_name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="{{img.image.url}}" class="card-img-top" alt="{{img.img_name}}">
          <p class="card-text text-center"><b>{{img.img_description}}</b></p>
          <p class="card-text text-center">Category:{{img.category}}</p>
          <p class="card-text text-center">Location:{{img.location}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  {% empty %}
  <div class="row">
    <div class="text-center">There are no Images</div>

  </div>

  {% endfor %}
</div>
{% endblock %}