{% extends 'base.html' %}

{% block content %}
{{block.super}}
{% for img in images %}
<!-- {{img.img_name}}
<img src="{{img.image.url}}" alt=""> -->

<div class="container d-flex">
  <div class="row justify-content-center">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  ">
      <div class="card" style="width: 25rem;">
        <img src="{{img.image.url}}" class="card-img-top" alt="{{img.img_name}}">
        <div class="card-body">
          <h5 class="card-title">{{img.img_name}}</h5>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{img.id}}">View
            Details</button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal{{img.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{img.img_name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{{img.image.url}}" class="card-img-top" alt="{{img.img_name}}">
              <p class="card-text text-center"><b>{{img.img_description}}</b></p>
              <p class="card-text text-center">Category:{{img.category}}</p>
              <p class="card-text text-center">Location:{{img.location}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% empty %}
<div class="row">
  <div class="text-center">There are no Images</div>

</div>
{% endfor %}

{% endblock %}