{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container">
  <div class="row">

    {% if categories %}
    <h2>Found {{categories|length}} of searched Category {{message}}</h2>
    {% else %}
    <h2>Found 0 categories for the search Category {{message}}</h2>
    {% endif %}
  </div>

  <div class="container d-flex flex-wrap">
    {% if categories %}
    {% for category in categories %}
    <div class="col-6">
      <div class="card mx-2 my-2">
        <img src="{{category.image.url}}" class="card-img-top" alt="{{category.img_name}}">
        <div class="card-body">
          <h5 class="card-title">{{category.img_name}}</h5>
        </div>
      </div>
      <!-- <img src="{{category.image.url}}" alt="">
              <h1>{{category.img_name}}</h1> -->
    </div>
    {% endfor%}
    {% endif %}
  </div>
</div>
{% endblock %}